body {
    color: rgb(145, 3, 50)07, 0, 0);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 95, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 57);
}

section {
	background: rgb(119, 49, 194);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
     font-size: 20px;
}

p{
font-size:20px;
}

img {
  height: 200px;
}
.categoria-videos {
  display: flex;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}


.chamada {
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
} 

categoria-videos img {
    opacity: 0.5;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {

}
.categoria-videos img {
    opacity: 0.5;
    height: 200px
}
.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {

}





